<div class="container">
  <h1>About Us</h1>
  <p>
    Stooges FC, founded in September 2016 is a local football club in Petaling Jaya
    Friendly enquiries please drop a message here or email stoogesfc@gmail.com
  </p>
</div>
