/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Basic Styles

body {
  margin-top: 100px;
}

// Typography Styles
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}

// Navbar Styles

.navbar {
  background-color: #1A2B4C;
}

img {
  width: 200px;
  height: 100px;
}

.navbar-left {
  height: 80px;
  padding: 18px;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}

.navbar-default .navbar-left,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
}

.nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
